@import "./var-common";
// 留
.flex-row-between {
  display: flex;
  justify-content: space-between;
}
// 留
.text-size-md {
  font-size: 16px;
}
// 留
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//color 留
.font-black {
  color: $--color-black;
}
// 留
.font-blue {
  color: $--color-yellow;
}
// 留
.mad-space-t-md {
  margin-top: 10px !important;
}
// 留
.mad-space-r-sm {
  margin-right: 5px !important;
}
// 留
.el-button [class*="iconfont"] + span {
  margin-left: 5px;
}
//card 留
.custom-card {
  &.el-card {
    border-color: #fff1e1;
    border-radius: 4px;
    background-color: #fffcf7;
    padding: 10px;
    .el-card__header {
      border-color: #fef3eb;
      padding: 0 0 10px 0;
    }
    .el-card__body {
      padding: 0;
    }
  }
}
// 留
.file-item {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff4ed;
  padding: 5px 60px 5px 10px;
  margin-top: 5px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #fff;
    box-shadow: 0 0 5px 0 #00000008;
    > .file-item-status {
      span:first-child {
        display: none;
      }
      .file-item-del {
        display: block;
      }
    }
  }
  > span:nth-of-type(1) {
    flex: 1;
    i {
      margin-right: 5px;
      color: $--color-blue;
    }
  }
  > span:nth-of-type(2),
  > span:nth-of-type(3) {
    width: 100px;
    text-align: center;
  }

  > .file-item-status {
    position: absolute;
    right: -17px;
    top: -7px;
    span {
      display: block;
      width: 46px;
      height: 26px;
      background: #ff8e2b;
      color: #ffffff;
      text-align: center;
      transform: rotate(45deg);
      i {
        margin-top: 10px;
        transform: rotate(-45deg);
      }
      &.file-item-del {
        background: #fef3f3;
        color: #ff0000;
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  body {
    font-size: 12px;
  }
}
