// $--color-black: #606266;
$--color-black: #333;
$--color-lightblack: #555;
$--color-white: #fff;
$--color-blue: #3788fd;
$--color-lightblue: #95ccff;
$--color-gray: #666;
$--color-lightgray: #999;
$--color-green: #2bc77c;
$--color-yellow: #ff9840;
$--color-red: #ff0000;
$--color-cyan: #25c0c7;
